[Desktop Entry]
Name=Now Plexing
Comment=An applet for COSMIC EPOCH for monitoring "Now playing" on your Plex server
Type=Application
Icon=com.github.gnarr.now-plexing
Exec=now_plexing %F
Terminal=false
StartupNotify=true
Categories=COSMIC
Keywords=COSMIC
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
MimeType=
